.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 65px;
}

.faqheading {
    text-align: center;
    margin-bottom: 30px;
}

.faqheading h1 {
    font-weight: bold;
}

.faq-section {
    margin-bottom: 20px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    line-height: 1.6;
    text-align: justify;
    /* background-color: #EEE6D8; */
}

.arrow {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .faq-question {
        font-size: 16px;
    }

    .arrow {
        width: 15px;
    }
}
